<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292842681558-ne38scpbm8pso0ok808jh46nftmluks2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292842681558-ne38scpbm8pso0ok808jh46nftmluks2</string>
	<key>API_KEY</key>
	<string>AIzaSyDinplgOonnhvwsTndtPRJZjyAt6f0ni10</string>
	<key>GCM_SENDER_ID</key>
	<string>292842681558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hesty.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-26f36</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-26f36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292842681558:ios:640e66b57967285b2e0577</string>
</dict>
</plist>